<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{cap}}</td>
                    <td>pipe personalizado false</td>
                    <td>{{cap|capitalizado:false}}</td>
                </tr>
                <tr>
                    <td>{{cap2}}</td>
                    <td>pipe personalizado true</td>
                    <td>{{cap2|capitalizado:true}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>contraseña : {{ban}}<br>
                        <button (click)="ban=!ban" class="btn btn-outline-danger">Activar/Desactivar</button>
                    </td>
                    <td>{{nombre|password:ban}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre|uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre|lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre|slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre|slice:0:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo|slice:1:5}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number 0</td>
                    <td>{{PI|number:'1.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number 00X</td>
                    <td>{{PI|number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number .0-2</td>
                    <td>{{PI|number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{pc}}</td>
                    <td>percent</td>
                    <td>{{pc|percent}}</td>
                </tr>
                <tr>
                    <td>{{pc}}</td>
                    <td>percent 2.2-2</td>
                    <td>{{pc|percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salary}}</td>
                    <td>currency</td>
                    <td>{{salary|currency}}</td>
                </tr>
                <tr>
                    <td>{{salary}}</td>
                    <td>currency eur</td>
                    <td>{{salary|currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salary}}</td>
                    <td>currency CAD</td>
                    <td>{{salary|currency:'CAD$ ':'symbol':'.0-0'}}</td>
                </tr>
                <!-- <tr>
                    <td>{{valorPromesa|json}}</td>
                    <td>async</td>
                    <td>{{valorPromesa|async}}</td>
                </tr> -->
                <tr>
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha|date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date medium</td>
                    <td>{{fecha|date:'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date short</td>
                    <td>{{fecha|date:'short'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date personal</td>
                    <td>{{fecha|date:'MMMM-dd-yyyy'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date ingles</td>
                    <td>{{fecha|date:'MMMM-dd-yyyy':'':'en'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date ingles</td>
                    <td>{{fecha|date:'MMMM-dd-yyyy':'':'fr'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date seleccionado
                        <br>
                        <button (click)="idioma='es'" type="button" class="m-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" type="button" class="m-1 btn btn-success">Ingles</button>
                        <button (click)="idioma='fr'" type="button" class="m-1 btn btn-danger">Frances</button>
                    </td>
                    <td>{{fecha|date:'MMMM-d-yy':'':idioma}}</td>
                </tr>

            </tbody>
        </table>
        <h3>Json</h3>
        <!-- <div class="row">
            <div class="col">
                <pre>{{heroe|json}}</pre>
            </div>
        </div> -->
        <h4>Slice en arreglo 5:9</h4>
        <ul>
            <li *ngFor="let item of arreglo |slice:5:9">{{item}}</li>
        </ul>
        <h3 class="mt-4">DOM Seguro</h3>
        <!-- <div class="row mb-5">
            <div class="col">
                <iframe width="560" height="315" [src]="videoUrl|domSecure" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div> -->
    </div>
</div>